body {
    font-family: 'Cardo', serif;
    background: url('./img/old-parchment-texture.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #4b2e1e;
    padding-bottom: 80px;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow-y: auto;
}

label {
    color: #5c4033;
    font-weight: bold;
}

.container {
    background-color: #f6f6f6;
    padding: 5vw 3vw;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 850px;
    min-height: 550px;
    font-size: 22px;
    margin-top: 2rem;
}

.form-label {
    color: #785c53;
    font-size: 30px;
    padding-top: 20px;
}

.modal-header {
    margin-bottom: 30px;
    font-family: 'Cinzel', serif;
    font-size: 2em;
    color: #bd9b2a;
    text-align: center;
    text-shadow: 0.2px 0.2px 2px black;
    padding: 0 0 20px;
}

.character-form-container {
    font-size: 30px;
    padding: 30px;
}

.modal-body input.form-control,
.modal-body select.form-select {
    font-size: 25px;
    margin: 15px 0;
    padding: 25px 20px;
    border: 2px solid #a17b50;
    border-radius: 30px;
    background-color: #fffdf7;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    font-size: 30px;
}

.alignment-btn {
    font-family: 'Cardo', serif;
}

.modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 5vw 3vw;
    box-sizing: border-box;
    overflow-y: auto;
}

.btn-next {
    background-color: rgb(199, 148, 72);
    border: none;
    color: #3e2a1e;
    font-weight: bold;
    padding: 12px 30px;
    font-size: 25px;
    border-radius: 30px;
    margin-top: 20px;
}

.btn-next:hover {
    background-color: rgba(182, 159, 138, 0.8);
    color: #2e1f14;
}

.btn-back {
    background-color: rgb(208, 178, 133);
    border: none;
    color: #3e2a1e;
    font-weight: bold;
    font-size: 25px;
    padding: 12px 30px;
    border-radius: 30px;
    margin-top: 20px;
}

.btn-back:hover {
    background-color: rgba(182, 159, 138, 0.8);
    color: #2e1f14;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1.5rem;
}


@media (max-width: 576px) {
    .character-form-container {
        max-width: 95%;
        padding: 20px 15px;
    }

    .modal-body input.form-control,
    .modal-body select.form-select {
        font-size: 16px;
        padding: 10px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .btn-next,
    .btn-back {
        width: 100%;
        max-width: 300px;
        margin-bottom: 0.75rem;
    }

    .btn-next:last-child {
        margin-bottom: 0;
    }
}

